---
layout: default
title: LeapJS-plugins by Leapmotion
---
<section>
<a name="#hand-entry"></a>
{% markdown %}

{% include /main/hand-entry.md %}

{% endmarkdown %}

</section>



<section id="hand-hold">
<a name="#hand-hold"></a>
{% markdown %}

{% include /main/hand-hold.md %}

{% endmarkdown %}


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#coffee" data-toggle="tab">Coffee</a></li>
  <li><a href="#js" data-toggle="tab">JS</a></li>
  <li><a href="#hand-hold-demo" data-toggle="tab">Demo</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="coffee">
<pre class="highlight-coffee"><code>{% highlight coffee %}
# Calculates how much a hand has changed pitch in the last few seconds.
Leap.Controller.plugin 'sumPitch', (options = {})->
  timeWindow = options.timeWindow || 1 # seconds

  # delta of both hands are combined
  pitchData = []
  {
    hand: (hand)->
      # skip momentary hands
      if hand.timeVisible < 1
        return

      # initial pass
      # we namespace our keys under sumPitch
      lastPitch = hand.data('sumPitch.lastPitch')
      currentPitch = hand.pitch()
      hand.data('sumPitch.lastPitch', currentPitch)

      return unless lastPitch

      # store values with timestamps
      now = new Date()
      pitchData.push({
        delta: currentPitch - lastPitch,
        time: now
      })

      # manage rolling sum
      mostDistantTime = now.setSeconds(now.getSeconds() - timeWindow)
      while pitchData[0].time < mostDistantTime
        pitchData.shift()

      hand.sumPitch = 0
      for data in pitchData
        hand.sumPitch += Math.abs(data.delta)
  }

window.handHoldDemo = $('#hand-hold-demo')
Leap.Loop (frame)->
  if frame.hands[0]
  handHoldDemo.html("frame id: #{frame.id} <br/>hand sumPitch: #{frame.hands[0].sumPitch.toPrecision(3)}")
{% endhighlight %}</code></pre>
  </div>
  <div class="tab-pane" id="js">
    <pre class="highlight-js"><code id="demoSrc">{% highlight javascript %}{% include /main/hand-hold.js %}{% endhighlight %}</code></pre>
  </div>
  <div class="tab-pane" id="hand-hold-demo">No Leap Plugged In</div>
</div>

<script type="text/javascript">
{% include /main/hand-hold.js %}
</script>

</section>

<section>
<a name="screen-position"></a>
{% markdown %}

{% include /main/screen-position.md %}

{% endmarkdown %}
</section>
