---
layout: default
---

<script type="text/javascript" src="{{ site.baseurl }}/main/hand-holding/leap.hand-hold.js"></script>

{% markdown %}

{% include /main/hand-hold.md %}

{% endmarkdown %}


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#js" data-toggle="tab">JS</a></li>
  <li><a href="#coffee" data-toggle="tab">Coffee</a></li>
  <li><a href="#demo" data-toggle="tab">Demo</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="js">
    <pre class="highlight-js"><code id="demoSrc">{% highlight javascript %}{% include /main/hand-hold.js %}{% endhighlight %}</code></pre>

  </div>
  <div class="tab-pane" id="coffee">
<pre class="highlight-coffee"><code>{% highlight coffee %}
# This plugin shows how much a hand has changed pitch in the last few seconds.
Leap.Controller.plugin 'sumPitch', ->
  timeWindow = 1 # sec

  # delta of both hands are combined
  pitchDeltas = []
  {
    hand: (hand)->
      # skip momentary hands
      if hand.timeVisible < 1
        return

      # initial pass
      # we namespace our keys under sumPitch
      lastPitch = hand.data('sumPitch.lastPitch')
      currentPitch = hand.pitch()
      hand.data('sumPitch.lastPitch', currentPitch)

      return unless lastPitch


      # manage rolling sum
      now = new Date()
      pitchDeltas.push({
        delta: currentPitch - lastPitch,
        time: now
      })

      mostDistantTime = now.setSeconds(now.getSeconds() - timeWindow)
      while pitchDeltas[0].time < mostDistantTime
        pitchDeltas.shift()

      hand.sumPitch = 0
      for delta in pitchDeltas
        hand.sumPitch += Math.abs(delta.delta)
  }

window.demo = $('#demo');
Leap.Loop (frame)->
  if frame.hands[0]
    demo.html(frame.hands[0].sumPitch)
{% endhighlight %}</code></pre>
  </div>
  <div class="tab-pane" id="demo">No Leap Plugged In</div>
</div>

<script type="text/javascript">
{% include /main/hand-hold.js %}
</script>